<a href="/models/{{_id}}" class="link-frame">
  {{#each photos}}
    {{#if @first}}
      <img class="photo photo-preview active" src="{{this}}">
    {{else}}
      <img class="photo photo-preview" src="{{this}}">
    {{/if}}
  {{/each}}

  <div class="link-info">
    <p class="title">{{title}}</p>
    <p class="author">by {{author}}</p>
  </div>
</a>
