<main>
  <h2>{{title}}</h2>
  <h3>by {{author}}</h3>


  <div id="photo-display">
    <div class="main-photo">
      {{#each photos}}
        {{#if @first}}
          <img class="photo photo-big active" src="{{this}}">
        {{else}}
          <img class="photo photo-big" src="{{this}}">
        {{/if}}
      {{/each}}
    </div>
    <div id="thumbnails-container">
      {{#each photos}}
        {{#if @first}}
          <img class="thumbnail selected" src="{{this}}">
        {{else}}
            <img class="thumbnail" src="{{this}}">
        {{/if}}
      {{/each}}
    </div>
  </div>

  <div id="description" class="tall">
    <p>{{description}}</p>
  </div>

</main>

<script src="/model-view.js">

